<!DOCTYPE html>
<html>
  <title>Plagiarism Detector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <body
    class="p-4 flex flex-col justify-center text-white bg-neutral-900 min-h-[100vh] md:max-w-[720px] mx-auto"
  >
    <div
      class="center bg-neutral-800 text-white flex flex-col align-center justify-center md:mx-auto shadow-md rounded-lg p-4 md:w-full"
    >
      <h2 class="text-center text-2xl font-bold mb-4">Plagiarism Detector</h2>

      <form action="/report" method="POST">
        <p>Paste your text here:</p>
        <textarea
          class="text-neutral-300 text-sm p-2 rounded-md bg-neutral-900 focus:border-blue-500 focus:outline focus:outline-neutral-500 w-full resize-y h-100"
          for="fname"
          name="text"
        ></textarea>
        <button
          type="Submit"
          value="Send"
          class="rounded-lg bg-blue-500 mx-2 my-4 py-4 w-full transition hover:bg-blue-600"
        >
          Generate Report
        </button>
      </form>

      <div class="text-center text-neutral-400 text-sm">
        <p>You will be redirected once your report is generated.</p>
        <p>Time to generate report depends on length of text.</p>
      </div>
    </div>
  </body>
</html>
